# Lab 02: SQL Queries (Part 1)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

The file bank.sql contains the SQL statements needed to create and fill the sample database illustrated in Figure 1.

In [1]:
%load_ext sql 
%sql postgresql+psycopg://bank:bank@postgres/bank

Write an SQL query to answer each of the questions posed below.

## 1. Filter Queries

(a) Who are the customers that live in Lisbon?

In [9]:
%%sql

SELECT DISTINCT customer_name
FROM customer
WHERE customer_city = 'Lisbon';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+---------------+-----------------+---------------+
| customer_name | customer_street | customer_city |
+---------------+-----------------+---------------+
|     Adams     |   Main Street   |     Lisbon    |
|      Cook     |   Main Street   |     Lisbon    |
+---------------+-----------------+---------------+

(b) Which accounts have a balance greater than 500€?

In [10]:
%%sql
SELECT DISTINCT *
FROM account
WHERE balance > 500;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

8 rows affected.

+----------------+-------------+----------+
| account_number | branch_name | balance  |
+----------------+-------------+----------+
|     A-201      |    Uptown   | 900.0000 |
|     A-444      |   Downtown  | 850.0000 |
|     A-333      |   Central   | 750.0000 |
|     A-222      |   Central   | 550.0000 |
|     A-305      |  Round Hill | 800.0000 |
|     A-217      |  University | 650.0000 |
|     A-215      |    Metro    | 600.0000 |
|     A-102      |    Uptown   | 700.0000 |
+----------------+-------------+----------+

(c) What would be the new account balances at Downtown branch if it offered a 27.7% bonus on the current balance of the customers?

In [13]:
%%sql
SELECT DISTINCT balance * 1.277
FROM account
WHERE branch_name = 'Downtown';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+--------------+
|   ?column?   |
+--------------+
| 638.5000000  |
| 1085.4500000 |
+--------------+

## 2. Join Queries

(d) Who are the customers whose accounts have a balance greater than 500€?

In [14]:
%%sql

SELECT DISTINCT d.customer_name
FROM
    depositor as d,
    account as a
WHERE
    d.account_number = a.account_number
AND
    a.balance > 500;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Flores    |
|    Iacocca    |
|    Johnson    |
|     Evans     |
|     Oliver    |
|      Cook     |
|     Brown     |
+---------------+

(e) In which cities do the customers with loans between 1000€ and 2000€ live?

In [34]:
%%sql

SELECT DISTINCT c.customer_city
FROM
    borrower as b,
    loan as l,
    customer as c
WHERE
    c.customer_name = b.customer_name AND
    b.loan_number = l.loan_number
AND l.amount BETWEEN 1000 AND 2000;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_city |
+---------------+
|    Coimbra    |
|      Faro     |
|     Oporto    |
+---------------+

(f) What is the balance of all the accounts of the customer that has loan L-15?

In [41]:
%%sql

SELECT DISTINCT a.balance
FROM
    depositor as d,
    borrower as b,
    loan as l,
    account as a,
    customer as c
WHERE
    c.customer_name = b.customer_name AND 
    b.customer_name = d.customer_name AND
    b.loan_number = l.loan_number AND 
    d.account_number = a.account_number AND
    l.loan_number = 'L-15';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+----------+
| balance  |
+----------+
| 500.0000 |
| 700.0000 |
+----------+

(g) On which branches do customers whose names begin with 'J' and end in 'n' have their accounts?

In [49]:
%%sql

SELECT DISTINCT a.branch_name
FROM
    depositor as d,
    account as a,
    customer as c
WHERE
    d.account_number = a.account_number AND
    d.customer_name = c.customer_name AND
    c.customer_name LIKE 'J%n';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+-------------+
| branch_name |
+-------------+
|   Downtown  |
|    Uptown   |
+-------------+

(h) What are the loan amounts of the customers who live cities whose names are exactly 6 characters long? (only using the __LIKE__ operator)

In [4]:
%%sql

SELECT DISTINCT l.amount
FROM
    borrower as b,
    loan as l,
    customer as c
WHERE
    c.customer_name = b.customer_name AND 
    b.loan_number = l.loan_number AND
    LENGTH(c.customer_city) = 6;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

6 rows affected.

+-----------+
|   amount  |
+-----------+
| 2000.0000 |
| 3000.0000 |
| 5000.0000 |
| 6000.0000 |
| 8000.0000 |
| 9000.0000 |
+-----------+

(i) What are the loan amounts of all clients living in a city whose name has at least one space in the middle (not at the beginning nor at the end)? (using __LIKE__ and __NOT LIKE__)

In [6]:
%%sql

SELECT DISTINCT l.amount
FROM
    borrower as b,
    loan as l,
    customer as c
WHERE
    c.customer_name = b.customer_name AND 
    b.loan_number = l.loan_number AND
    c.customer_city LIKE '% %' AND 
    c.customer_city NOT LIKE ' %' AND 
    c.customer_city NOT LIKE '% ';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+-----------+
|   amount  |
+-----------+
| 4000.0000 |
+-----------+

(j) What are the assets of the agencies where ‘Johnson’ has an account?

In [12]:
%%sql

SELECT DISTINCT br.assets
FROM
    depositor as d,
    account as a,
    customer as c,
    branch as br
WHERE
    c.customer_name = d.customer_name AND
    d.account_number = a.account_number AND
    c.customer_name = 'Johnson' AND
    br.branch_name = a.branch_name;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

2 rows affected.

+--------------+
|    assets    |
+--------------+
| 1700000.0000 |
| 1900000.0000 |
+--------------+

(k) Who are the customers that have a loan from an agency in the same city where they live?

In [16]:
%%sql

SELECT DISTINCT c.customer_name
FROM
    depositor as d,
    account as a,
    customer as c,
    branch as br
WHERE
    c.customer_name = d.customer_name AND
    d.account_number = a.account_number AND
    br.branch_name = a.branch_name AND
    br.branch_city = c.customer_city;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------------+
| customer_name |
+---------------+
|      Cook     |
+---------------+

(l) Who are the customers that live in cities that have bank branches? (using __DISTINCT__)

In [18]:
%%sql

SELECT DISTINCT c.customer_name
FROM
    customer as c,
    branch as br
WHERE
    br.branch_city = c.customer_city;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Adams     |
|     Lopez     |
|     Oliver    |
|     Parker    |
|      Cook     |
|     Davis     |
|     Brown     |
+---------------+

(m) Who are the customers that have an account and a loan (using __INTERSECT__ operator)

In [24]:
%%sql

SELECT DISTINCT c.customer_name
FROM
    borrower as b,
    loan as l,
    customer as c
WHERE
    c.customer_name = b.customer_name AND 
    b.loan_number = l.loan_number
INTERSECT
SELECT DISTINCT d.customer_name
FROM
    depositor as d,
    account as a
WHERE
    d.account_number = a.account_number;

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

3 rows affected.

+---------------+
| customer_name |
+---------------+
|    Iacocca    |
|      Cook     |
|     Brown     |
+---------------+

## 3. Advanced Queries

(n) Who are the customers who live in cities where there are no bank branches? (Tip: use __NOT IN__)

In [28]:
%%sql

SELECT DISTINCT c.customer_name
FROM customer as c
WHERE c.customer_city NOT IN (
    SELECT DISTINCT br.branch_city
    FROM branch as br
);

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

8 rows affected.

+---------------+
| customer_name |
+---------------+
|     Flores    |
|    Gonzalez   |
|      King     |
|    Iacocca    |
|    Johnson    |
|     Evans     |
|     Nguyen    |
|     Martin    |
+---------------+

(o) What is the total amount of account balances in branches in the city of Lisbon (‘Lisbon’)? (Tip: use __SUM__)

In [35]:
%%sql

SELECT SUM(a.balance) as total_balance
FROM
    account as a,
    branch as br
WHERE
    br.branch_name = a.branch_name AND
    br.branch_city = 'Lisbon';

Running query in 'postgresql+psycopg://bank:***@postgres/bank'

1 rows affected.

+---------------+
| total_balance |
+---------------+
|   1350.0000   |
+---------------+